[submodule ".github"]
	path = .github
	url = git@github.com:bamboo-filing-cabinet/.github.git
[submodule "vietnam-elections"]
	path = vietnam-elections
	url = git@github.com:bamboo-filing-cabinet/vietnam-elections.git
[submodule "bamboo-filing-cabinet.github.io"]
	path = bamboo-filing-cabinet.github.io
	url = git@github.com:bamboo-filing-cabinet/bamboo-filing-cabinet.github.io.git
[submodule "vietnam-elections-wikidata"]
	path = vietnam-elections-wikidata
	url = git@github.com:bamboo-filing-cabinet/vietnam-elections-wikidata.git
[submodule "vietnam-elections-archive"]
	path = vietnam-elections-archive
	url = git@github.com:bamboo-filing-cabinet/vietnam-elections-archive.git
